{{> order-count }}

{{#if useTransparentHeader}}
    {{> skip-to extraClasses="c-skipTo--whiteLink"}}
{{else}}
    {{> skip-to }}
{{/if}}

<header class="c-header {{#if useTransparentHeader}}c-header--transparent c-header--gradient{{/if}}" data-sticky-element data-header>
    {{> language-switcher }}

    <div class="l-container c-header-wrap">
        {{> logo }}

        <nav data-navglobal class="c-nav c-nav--global">
            <button data-nav-button class="c-nav-trigger is-hidden--noJS">{{ i18n "openMenuText" }}</button>
            <input  data-nav-accessible-button type="checkbox" class="c-nav-trigger is-shown--noJS" id="nav-trigger" />

            <label data-nav-toggle class="c-nav-toggle" for="nav-trigger">
                <span class="c-nav-toggle-icon">{{ i18n "openMenuText" }}</span>
            </label>

            <div data-nav-container class="c-nav-container">
                <ul class="c-nav-list">
                    <li data-auth-wrapper class="c-nav-list-item has-sublist {{#unless user.isAuthenticated}}is-hidden{{/unless}}" data-test-id="navList" tabindex="0">
                        <p class="c-nav-list-text">
                            {{> nav-icon }}
                            <span data-name class="c-nav-list-text-sub">{{#if user.isAuthenticated}}{{user.friendlyName}}{{/if}}</span>
                            <span data-email class="c-nav-list-text-sub u-showBelowMid">{{#if user.isAuthenticated}}{{user.email}}{{/if}}</span>
                        </p>

                        {{> nav-sub-links }}
                    </li>

                    {{#unless user.isAuthenticated}}
                    <li data-login class="c-nav-list-item {{#unless renderUserMenuOnServer}}is-hidden{{/unless}}" data-test-id="login">
                        <a href="{{ loginUrl }}" rel="nofollow" class="c-nav-list-link">
                            {{ i18n "loginLinkText" }}
                        </a>
                    </li>

                    <li class="c-nav-list-item is-hidden is-shown--noJS" data-test-id="noscript-myaccount">
                        <a href="{{ loginUrl }}" rel="nofollow" class="c-nav-list-link">
                            {{ i18n "loginNoScriptLinkText" }}
                        </a>
                    </li>
                    {{/unless}}

                    {{> nav-alternate-language-links }}

                    <li class="c-nav-list-item c-nav-list-item--support" data-test-id="support">
                        <a href="{{ helpUrl }}" {{#if isHelpExternal}}target="_blank"{{/if}} data-gtm="header|click - navigation|help" class="c-nav-list-link">
                            {{ i18n "helpLinkText" }}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
</header>
